

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;531;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500, 600,900&display=swap');

/* CORE STYLES */
:root {
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(255, 255, 255 , 0.75);
    --clr-body: #7c7c7e;
    --clr-heading: black;
    --clr-accent:  rgba(255, 127, 130 , 0.95);
    --ff-body: 'Inter', sans-serif;
    --fs-h2: 5rem;
    --fs-h4: 1.6rem;
    --menu-speed: 0.75s;
  }
  *,::after,::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html, body {
    width: 100%;
    min-height: 100vh;
    font-size: 65.5%;
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
  }
  body {
    font-size: 1.2em;
    margin-bottom: 7.2em;
    font-weight: normal;
    font-family: var(--ff-body);
    line-height: 1.6;
    font-family: Inter;
    background-color: #fff;   
  }
 
 h2 {
   font-size: 2em;
   color: var(--clr-heading);
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 600;
   line-height: 1.2;
   margin-bottom: .6em;
 }
 h4 {
   font-size: var(--fs-h4);
   color: var(--clr-heading);
   font-weight: 500;
   text-transform: uppercase;
 }
   /*-- LAYOUT --*/
.main-bod {
    padding: 1rem;
  }
  .results{
      color: var(--primary-color);
      font-family: Inter;
      font-weight: 500;
      font-size: 1em;
      margin-left: 1em;
  }

  .bd-grid{
    display: grid;
    margin-left: 10em;
    margin-right: 10em;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 639px;
    align-items: center;
    gap: 2rem;
  }
 
  .header-logo{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    position: fixed;
    background-color: white;
    padding:0.5em 0.5em 0.5em 0.5em;
  }
  .search-box{
    padding: none;
    margin: 2em;
    font-family: Inter;
    font-weight: 800;
    z-index: -2;
  }
  .cart{
      position: fixed;
      top:2em;
      border: 2px solid #ff7f82;
      position: relative;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-right: 1em;
      text-align: center;
      margin-left: 1em;
  }
  .cart-icon{
    color: #ff7f82;
      font-size: 2.4em;
      margin: 0.3em;
  }
  input[type=text]{
    position: relative;
    padding: 15px 40px 15px 20px;
    width: 200px;
    font-family: Inter;
    font-size: 2em;
    font-weight: 800; 
    color: #b8237c;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
    transition: width 0.4s ease;
    outline: none;
  }
  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
  }
  
  .showcase {
    background: var(--overlay-color);url(/img/palm-tree.jpg) no-repeat center center/cover;
    color: black;
    height: 40vh;
    position: relative;
  }
  .showcase:before {
    content: '';
    background: url(/img/palm-tree.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .showcase p {
    font-size: 2.3rem;
    padding: 0.3em 5em 0.3em 5em;
    margin-top: 5em;
  }
  .btn2 {
    display: inline-block;
    text-decoration: none;
    border: none;
    background: var(--primary-color);
    background-color:#ff7f82 ;
    color: white;
    font-weight: 700;
    border-radius: 2em;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    transition: opacity 1s ease-in-out;
  }
  a:hover{
    text-decoration: none;
  }
  
  .btn2:hover {
    opacity: 0.7;
  }
  /* MENU STYLES */
  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
    color: #FFFFFF;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--primary-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: white;
    font-weight: 800;
    font-size: 2rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  /*FILTERS*/
  fieldset{
    background-color: white;
    width: 10em;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
  }
  select{
    display: inline-block;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 500;
    height:35px;
    width: 90px;
    margin-left: 1em;
    padding: 0.5em;
    color: white;
    background: #90bf5b;
    border-color: #f7f7f7 #f7f7f7; 
    z-index: -2;
  }
/*-- Apple Collection --*/

  .title-shop{
    position: relative;
    text-align: center;
    font-size: 3.8rem;
    font-weight: 600;
    font-family:Inter;
    margin: 2rem 2.5rem;
    color:black;
    z-index: -2;
  }
   
   .header__label {
     font-size: 1.6rem;
     text-transform: uppercase;
     letter-spacing: -.5px;
     font-weight: 500;
     margin-right: 1em;
     display: inline-block;
     vertical-align: middle;
   }
   
   .header__input {
     width: 70%;
     position: relative;
     top: -3px;
     border: 0;
     border-bottom: 1px solid var(--clr-heading);
   }
   
   .header__input:focus {
     outline-color: var(--clr-heading);
     outline-width: 2px;
   }
  
   
   
   .header__cart {
     align-self: center;
     justify-self: end;
     
   }
   
   .header__numb {
     font-size: 1.2rem;
     color: black;
     display: inline-block;
     position: relative;
     left: 1em;
     color: white;
     
   }
   
   .header__numb::before {
     content: '';
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border-radius: 50%;
     background: var(--clr-accent);
     width: 1.8rem;
     height: 1.8rem;
     z-index: -1;
   }
   
   .line {
     width: 1.3rem;
     height: 3px;
     border-radius: 3px;
     display: inline-block;
     background: var(--clr-heading);
     position: relative;
   }
   
   .line::before {
     content: '';
     position: absolute;
     border-radius: 3px;
     top: -8px;
     left: 0;
     width: 2.3rem;
     height: 3px;
     background: var(--clr-heading);
   }
   .conter{
    padding: 0em 1em;
    overflow: auto; 
  }
  .card{
    margin: 0.2em 0;
  }
  .card__image {
    margin-bottom:1em;
    max-width: 60em;
   }
   .card__content {
    align-self: center;
    border: 2px black;
    padding-top: 3em;
    margin-right: 2em;
    margin-right: 1em;
    min-width: 40%;
   }
   .card__content-special{
    align-self: right;
    border: 2px black;
  }
   
   .card__text {
     font-size: 1.2rem;
     color: #6f7373;
     width: 80%;
     line-height: 1.3;
     margin-bottom: 1em;
   }
   ul{
    list-style-type: none;
    margin-left: 1.2em;
    text-align: left;
    font-size: 1.2rem;
    color: #6f7373;
    width: 80%;
    line-height: 1.3;
    margin-bottom: 1em;
  }
   
   .card__price {
     font-size: 2.8rem;
     font-weight: 500;
     color: var(--primary-color);
   }
   .card__choose {
     padding: 1em 0;
     width: 50%; 
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 .7em;
     margin: 2em 0;
     position: relative;
   } 
   .card__choose::after {
     content: '';
     display: block;
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     top: 4em;
     border-bottom: 1px solid rgba(black, .2);
   }
   
   .card__size {
     display: flex;
     color: black;
     align-items: center;
     
   }
   
   .card__label {
     font-size: 1.8rem;
     font-weight: 500;
     color: var(--clr-heading);
     text-transform: uppercase;
     margin-right: 1em;
   }
   
   .clr {
     display: inline-block;
     margin-left:1.5em;
     padding: 0.5;
     width: 1rem;
     height: 1rem;
     border-radius: 50%;
     vertical-align: middle;
   } 
   .card__select {
    display: inline-block;  
    width: 80px; 
    padding: .4em 1em;
    appearance: none;
    color: black;
    background-color: #fff;
    border: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4Ij4KICAgIDxwYXRoIGQ9Ik0xNC44MyAxNi40MkwyNCAyNS41OWw5LjE3LTkuMTdMMzYgMTkuMjVsLTEyIDEyLTEyLTEyeiIvPgogICAgPHBhdGggZD0iTTAtLjc1aDQ4djQ4SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=');
    position: relative;
    background-position: left 2em top 50%, 0 0;
    background-repeat: no-repeat;
    background-size: 1.5em auto, 100%;
  }
  
  .card__select:focus {
    outline-color: #ecbe9c;
    outline-width: 2px;
  }
  
  
  .card__counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%; 
    margin-bottom: 2em;
    padding: 1em .7em;
  }
  
  .card__numb {
    font-size: 3.5rem;
    background: transparent;
    padding: .1em .3em;
    appearance: none;
    border: none;
    cursor: pointer;
  }
  
  .card__count {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin: 0;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  input[type=number] {
      -moz-appearance:textfield; /* Firefox */
  } 
  .btn--primary {
    background-color: var(--clr-accent);
    font-size:  1.8rem;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 1em;
    margin-left: 0.2em;
    color: white;
    font-weight: 800;
    display: inline-block;
    padding: 1em 0;
    letter-spacing: 2px
  }
  
  .cover {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; 
  }
   .card__count {
     font-size: 1rem;
     font-weight: 500;
     text-align: center;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     border: none;
     margin: 0;
   }
   .clr1 {
    background-color: #efefef;
  }
  
  .clr2 {
    background-color: var(--clr-heading);
  }
  .clr3 {
    background-color: aquamarine;
  }
  .clr4 {
    background-color: #b8237c;
  }
  .clr5 {
    background-color: #90bf5b;
  }
  .clr6 {
    background-color: #f49ac1;
  }
  .clr7 {
    background-color: #f38a46;
  }
  .clr8 {
    background-color: #ca0837;
  }
  .clr9 {
    background-color: gray;
   } 
   .cover {
     object-fit: cover;
     object-position: center;
     width: 100%;
     height: 100%;
   }
 /* Bottom Part */
  ol{
    margin-left: 90%;
    font-weight: 800;
    list-style: none;
    font-size: 1.5em;
  
  }
 

   /* Smallest-to-largest, using grid */
   @media (min-width: 40em) {
    .card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2em 5em 5em 2em;
		grid-gap: 1em;
    grid-auto-flow: column;
	}
    .card-img {
      grid-column: 2;
      margin: 2em;
    }
    .card__content {
      margin: 5em
    }
    @media (max-width: 445px) {
      .card {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-gap: 1em;
      grid-auto-flow: column;
    }
    }
      .card-img {
        grid-column: 2;
        margin-left: 2em;
        margin-bottom: 0.01;
      }
      .card__content {
        margin: 5em
      }
    }
    h2 {
      font-size: 4rem;
      margin-left: 0.5em;
      margin-top: 0.01em;
    }
    p {
      font-size: 1rem;
      margin-left: 1.2em;
      text-align: left;
    }

    .brief{
        font-size: 0.8em;
        text-align: center;
        margin-left: 2em;
        margin-right: 2em;
        color: #353133;
    }
     .cover {
       width: 100%;
     }
     .card__select{
         font-size: 0.8em;
     }
     .card__price{
       font-weight: 800;
       margin-left: 4em ;
     }
     .card__size{
       font-size: 1.5em;
       margin-left: 10%;
       margin-right: 10%;
     }
     .card__count{
         font-size: 1em;
         margin-left: 10%;
        margin-right: 10%;
     }
     .card__numb{
       font-size: 1em;
       padding: none;
       margin-left: 10%;
       margin-right: 10%;
    }
    .showcase p{
      font-size: 1.2em;
      font-weight: 700;
      padding: 1.3em;
      text-align: center;
    }
    .clr{
      padding: 0.5em;
      margin: 0.6em;
    }
    .menu-wrap .hamburger {
      top: 1em;
      left: 1em;
      width: 50px;
      height: 50px;
    }
    .header-logo{
    max-height: 77px;
    position: fixed;
  }